.container  {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(6 , 1fr);
  align-content: flex-start;



}

.main__link{

  text-align: center;
  text-decoration: none;
  color: black;
}
.main__link:hover {
  color: #a2adf5;
  transition: all .4s ease;
}
.friendsBlock {

  width: 100%;
  padding: 10px 0;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.title {
  margin: 5px;
}