.link {
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;


}

.link:hover {
    color: white;
    cursor: pointer;

}
.avatar {
    width: 50px;
    height: 50px;

    border-radius: 100%;
}

.activeDialog img  {
    width: 150%;
    height: 150%;

}
.activeDialog   {

    font-size: 130%;
}
