.user {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 95%;
}
.icon {
    display: flex;
    flex-direction: column;
}
.users__content {
    display: grid;
    justify-items: center;
}

.avatar {
    width: 100px;
    border-radius: 100%;
}
.item {

}
.follow_btn, .showMore {
    background-color: rgba(0, 26, 255, 0.4);

    font-size: 14px;
    color: white;
    border: 1px solid  rgba(0, 26, 255, 0.4);
    padding: 5px;
    margin: 5px 0
}

.follow_btn:hover{
    border: 1px solid black;

}

.content {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.content *{
    align-self: center;
}

 .city,.country {
    justify-self: end;
}

.status {
    align-self: end;
}
.selected {
    font-weight: 700;
}

.showMore:hover {
    background-color: rgba(0, 26, 255, 0.1);
    color: black;
    cursor: pointer;
}
.showMore {
    margin-bottom: 20px;
}
.pages{
    display: flex;
    flex-wrap: wrap;
}