
.postsBlock {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 5px;

}
.button {
    width: 100px;
    justify-self: end;

}
.title {
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 500;
}