
.postsBlock {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 5px;


}
.button {

    justify-self: end;

}
.title {
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 500;
}
.textarea {
    width: 100%;
    resize: none;

}
.form {
  display: grid;

 width: 70%;
}
.submit_button {
    margin-top: 10px;
    width: 90px;
    justify-self: end;
}