
.item {
    display: flex;
    padding: 10px;
    max-width: 500px;

}

.avatar {
    width: 150px;

}
.socialMedia_item {
    font-weight: 700;
    width: 30px;
}
.social_url {
    font-weight: 400;
}

.soc_item {
    color: #6172f9;
}
.title {
    font-weight: 700;
}
.avatar_block {
    display: grid;
}