.container  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.main__link{
  text-decoration: none;
  color: black;
}
.main__link:hover {
  color: white;
  transition: all .4s ease;
}