.header {
    grid-area: h;


    height: 100%;
    background-color: #a2adf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;



}

.header__logo {
    height: 100%;
}

.profileButton {
    color: black;
    border-radius: 3px;
    background-color: #d0d7f2;
    padding: 5px;

}

.profileButton:hover {
    cursor: pointer;
    color: white;
    background-color: #6172f9;
    transition: color,background-color 0.5s linear;


}

.logInLinkBlock a {
    text-decoration: none;
    color: black;
}
.logInLinkBlock {
    border-radius: 5px;
    background-color: #d0d7f2;
    padding: 5px;
}
.logInLinkBlock:hover  {

    background-color: #6172f9;
    transition: all .5s linear;
}
.logInLinkBlock:hover a {
    color: white;
}