.header {
    grid-area: h;
    background-color: rgba(0, 26, 255, 0.3);
    border-radius: 5px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);





}


.header__logo {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    margin-left: 15px;

}

.loggedIn_block {
  align-self: center;
  justify-self: end;
  margin-right: 10px;

}

.logIn_link {
    align-self: center;
    justify-self: end;
    text-decoration: none;
    color: black;
}

.logIn_link_block {
    background-color: #d0d7f2;
    border-radius: 5px;
    align-self: center;
    margin-right: 10px;
    justify-self: end;
    padding: 5px;
}

.logIn_link_block:hover {
    background-color: #6172f9;

}

.logIn_link_block:hover a {
    color: white;
    transition: all 0.3s linear;
}
