
.nav {
  grid-area: n;
  background-color: rgba(0, 26, 255, 0.3);
}

.item {
  display: flex;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
  font-size: 150%;
  border-bottom: 1px solid black;
  padding: 15px ;
  transition: all .1s linear;
  
}

.item:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(0, 26, 255, 0.5);

 
}