
.nav {

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 10px 0 20px;
}



.link {
    display: block;
    text-decoration: none;


    color: #a2adf5;
    font-size: 1.3rem;
    padding: 10px 20px;
    width: 50%;
}
.active {
    color: #6172f9;
    font-weight: 700;
    border-bottom: #6172f9 2px solid;

}

.linkBlock {
    width: 100%;
    transition: all .3s linear;
}

.linkBlock:hover {

    background-color: #d0d7f2;
}

.linkBlock:hover a {

    color: #6172f9
}
