.profileEditingWrapper{
    background-color: white;
    border-radius: 5px;
    width: 75%;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.inputField {
    width: 80%;
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.inputField textarea,input {
    resize: none;
    width: 50%;


}
.radioWrapper{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.buttonsWrapper {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #a2adf5;
    margin: 10px;
    color: white;
    padding: 5px 30px;
    font-size: 0.8em;


}

.button:hover {
    background-color: #6172f9;
}

