
.item {
  color: black;
  display: flex;

  margin: 10px;

  width: 90%;




}
.postText {
  border-bottom: #a2adf5 1px solid;
  width: 100%;
  margin-left: 10px
}




.like img {
  width: 40px;
}
.like {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.wrapper {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}