
.item {
  color: green;
  display: flex;
  margin: 10px
;



  
}
p {
  margin-left:10px;
}

.item img {
  width: 50px;
  border-radius: 30px;
}

.like img {
  width: 40px;
}
.like {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}