.form__container {
    display: grid;

    justify-content: center;
    margin-top: 150px;
}
.form__item {

    margin-top: 15px;
}
.form__item__button {
    justify-self: center;
}
.form {
    display: grid;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 50%

}
.form__error {
    color: red;
    position: absolute;
    top: 30%;
    left: 50%

}