.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: 10px;
    border-radius: 10px;
    background-color: white;

}

.form__item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.form {

margin: 50px


}

.form__error {
    color: red;


}

.submit__button {
    background-color: #a2adf5;
    color: white;


}

.submit__button:hover {
    background-color: #6172f9;
}