
.app-wrapper__content {
    grid-area: c;
    background-color: rgba(0, 26, 255, 0.1);

}

.app-wrapper {
    display: grid;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "h h "
    "n c"
    
    ;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;

}

.app {
    background-color: rgba(232, 236, 241, 1);
}

