
.app-wrapper__content {
    grid-area: c;
    position: relative;
    padding: 10px;

}

.app-wrapper {
    display: grid;
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
    "h h "
    "n c"

    ;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;

}

.app {
    background-color: #edeef0;
    font-family: 'Varela Round', sans-serif;
}


