.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 15px;

}


.dialogs__items, .dialogs__messages {
    display: grid;
    grid-gap: 10px;
    align-items: center;


}

.dialogs__items {
    justify-self: center;
}


.dialogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.newMessage__container {
    display: none;

}
.textarea {
    width: 100%;
    resize: none;
}
